* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -2px;
  color: #0e0e11;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: beige;
}

.contentBox {
  width: 326px;
  height: 700px;
  border: 1px solid gainsboro;
  border-radius: 12px;
  padding: 1.5rem 1rem;
  background-color: white;
}

.listBox {
  margin: 20px 0;
}

.items {
  padding: 0.3rem 0rem;
  display: flex;
  justify-content: space-between;
}

.items span {
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 1rem;
  color: #575767;
}

.items .checkbox {
  margin-right: 0.3rem;
}

.items .itemText {
  display: inline-block;
  vertical-align: middle;
}

.itemText.checked {
  color: #b9b9be;
  text-decoration: line-through;
}

.listCount {
  margin-top: 6px;
  font-size: 14px;
  color: #575767;
}

.checkbox input {
  display: none;
}

.checkbox span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox .checkbox-icon {
  position: relative;
  width: 17px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  transition: background 0.1s ease;
}

.checkbox .checkbox-icon::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 5px;
  width: 5px;
  height: 9px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg) scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.15s;
  opacity: 0;
}

.checkbox input:checked ~ .checkbox-icon {
  border-color: transparent;
  background: #ff1616;
  animation: jelly 0.6s ease;
}

.checkbox input:checked ~ .checkbox-icon::after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

.deleteBtn {
  padding: 0.1rem 0.3rem;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #b9b9be;
}

.deleteBtn:hover {
  color: #575767;
}
