* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -2px;
  color: #0e0e11;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: beige;
}

.contentBox {
  width: 326px;
  height: 700px;
  border: 1px solid gainsboro;
  border-radius: 12px;
  padding: 1.5rem 1rem;
  background-color: white;
}

.listBox {
  margin: 20px 0;
}

.items {
  padding: 0.3rem 0rem;
  display: flex;
  justify-content: space-between;
}

.items span {
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 1rem;
  color: #575767;
}

.items .checkbox {
  margin-right: 0.3rem;
}

.listCount {
  margin-top: 6px;
  font-size: 14px;
  color: #575767;
}
